*~
bin/tmp/
.DS_Store
platform/ios/captureIOS.xcodeproj/xcuserdata/
platform/ios/captureIOS.xcodeproj/project.xcworkspace/xcuserdata/
*.tmp
platform/android/library.swf
platform/ios/library.swf

platform/android/bin/*
!platform/android/bin/captureandroid.jar
